.Person{
  width: 40%;
  margin: auto;
  border: 2px solid #ccc;
  box-shadow: 0 2px 3px #000;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.Person2{
  width: 25%;
  margin: auto;
  border: 2px solid #ccc;
  box-shadow: 0 2px 3px #000;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.btn{
  background-color: blue;
  border: 2px solid darkblue;
  border-radius: 5px;
  height: 40px;
  width: 70px;
  color: white;
}
.btn2{
  margin-right: 20px;
}